* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* tipo de letra y fondo */
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

#contenedor {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #333;
    background-color: #fff;
    padding: 10px;
}

#cabecera {
    border: 2px dashed #999;
    background-color: #f9f9f9;
    padding: 20px;
    /* separacion con el contenido de abajo */
    margin-bottom: 20px;
    text-align: center;
}

#menu {
    /* float left es para que flote a la izquierda y deje lugar al lado */
    float: left;
    /* ocupa un cuarto del ancho de la pantalla */
    width: 25%;
    border: 2px dotted #999;
    background-color: #f9f9f9;
    padding: 20px;
    /* altura minima para que no quede muy chato */
    min-height: 250px;
    text-align: center;
}

#contenido {
    /* lo hacemos flotar tmb asi se pone al lado del menu */
    float: left;
    width: 73%;
    /* casi todo lo que sobra de espacio */
    margin-left: 2%;
    /* espacio chiquito para que no queden pegados */
    border: 2px dotted #999;
    background-color: #f9f9f9;
    padding: 20px;
    min-height: 250px;
    text-align: center;
}

#pie {
    /* aca quite el float para que quede abajo el pie */
    clear: both;
    border: 2px dashed #999;
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;
    /* aca lo separe de lo de arriba , nose poe que necesite tanto px */
    margin-top: 290px;
    text-align: center;
}