* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* tipo de letra y fondo */
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

#contenedor {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #333;
    background-color: #fff;
    padding: 10px;
}

#cabecera {
    /* con esto escondemos el encabezado y todo lo de abajo sube a ocupar su lugar */
    display: none;
}


#menu {
    /* con display none lo desaparecemos por completo */
    display: none;
}

#contenido {
    /* como ya no esta el menu, le decimos que ocupe todo el ancho disponible */
    width: 100%;
    margin: 0;

    float: left;
    border: 2px dotted #999;
    background-color: #f9f9f9;
    padding: 20px;
    min-height: 250px;
    text-align: center;
}



#pie {
    /* le metemos display none para que el footer desaparezca de la pagina */
    display: none;
}