* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

#contenedor {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #333;
    background-color: #fff;
    padding: 10px;
}

#cabecera {
    border: 2px dashed #999;
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#menu {
    float: left;
    width: 25%;
    border: 2px dotted #999;
    background-color: #f9f9f9;
    padding: 20px;
    min-height: 250px;
    text-align: center;
}

#contenido {
    float: left;
    width: 73%;
    margin-left: 2%;
    border: 2px dotted #999;
    background-color: #f9f9f9;
    padding: 20px;
    min-height: 250px;
    text-align: center;
}

#pie {
    clear: both;
    border: 2px dashed #999;
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;

    margin-top: 290px;
    text-align: center;
}